.intro {
    text-align: left;
    width: auto;
    height: 200px;
    padding: 0px 30px 0px;
}

.intro>h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;


}
.intro>h2>span {
    color: green;
}

.intro>p {
    font-family: 'Montserrat', sans-serif;
}

.about-card {
    width: 300px;
    height: 400px;
    margin: 40px 40px 50px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    box-shadow: 10px 4px 5px 2px rgb(170, 173, 170);
}
.figure {
    position: relative;
    background: rgb(221, 248, 221);
    height: 64px;
    width: 64px;
    border-radius: 50px;
    box-sizing: border-box;
    margin: 10px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .figure >img {
    width: 30px;
    height: 30px;
    border-radius: 60%;
    z-index: 8;
  }

.about-card>div>h4 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    box-sizing: content-box;
    padding: 7px 7px;

}

.about-card>div>p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    padding: 10px 5px;
}

.all{
    display: flex;
}

@media only screen and (max-width: 1050px) {
    .all{
        display: block;
        margin: 50px auto 40px;
    }
    .intro {
        text-align: left;
        width: auto;
        height: 200px;
        margin-bottom: 250px;
    }
    
  }